.orgContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.issuesContainer{
    width: 65vw;
}

@media only screen  and (max-width:1000px){
    .issuesContainer{
        width: 90vw;
    }
}
@media only screen  and (max-width:650px){
    .issuesContainer{
        width: 90vw;
    }
}